syntax: glob

*.pyc
*.pyo
*~
*.kpf
*.log*
*.komodoproject
*.lst
*.elf
*.hex
*.o
*.obj
*.eep

test/*
.build/*
.dist/*
.tests/*
.dep/*
.old
output/*
.static/*
.templates/*
logs/*
.git/*
.hg/*
.hgignore
